<div class="container text-bg-light bg-gradient rounded formContainer">
    <div *ngIf="errorTxt != ''" class="row alert alert-danger errorTxt" role="alert">
        {{errorTxt}}
    </div>
    <div class="row">
        <h5 class="title">
            PLACEHOLDER
        </h5>
    </div>
    <div class="row">
        <form class="needs-validation was-validated" novalidate>
            <div class="input-group justify-content-center">
                <span class="input-group-text">
                    <input class="form-control" type="text" placeholder="Nazwa użytkownika"
                        aria-label="Username Field Addon" aria-describedby="usernameFieldAddon" [(ngModel)]="username"
                        required>
                </span>
            </div>
            <button type="button" class="btn btn-success bg-gradient submitButton" (click)="onFindButtonClick();">
                {{SEND_USER_REQUEST_BTN_STRING}}
            </button>
        </form>
    </div>
</div>