<div *ngIf="activeUser != ''" class="row list-group">
    <h6 class="bg-text-dark bg-gradient rounded">
        {{FRIENDS_STRING}}:
    </h6>
    <div *ngIf="activeUser != ''" class="nav-item active">
        <button class="btn badge bg-success" (click)="onAddFriendButtonClick();">
            <img src="../../node_modules/bootstrap-icons/icons/person-plus-fill.svg" width="30" height="30"
                alt="Filled Plus Person Icon">
        </button>
    </div>
    <div *ngFor="let friend of friends;">
        <div *ngIf="friend.username === activeRecipient; else elseBlock">
            <a class="list-group-item list-group-item-action list-group-item-warning rounded"
                (click)="selectRecipient(friend.username)" (contextmenu)="onRightButtonClick($event)">
                {{friend.username}}
            </a>
        </div>
        <ng-template #elseBlock>
            <a class="list-group-item list-group-item-action list-group-item-success rounded"
                (click)="selectRecipient(friend.username)" (contextmenu)="onRightButtonClick($event)">
                {{friend.username}}
            </a>
        </ng-template>
    </div>
    <app-context-menu [visible]="visible" [ctxMenuUsername]="ctxMenuUsername"
        [activeUser]="activeUser"></app-context-menu>
</div>