<div class="content" role="main">
  <app-navbar></app-navbar>
  <div class="container-fluid text-bg-dark d-flex flex-column">
    <div class="row text-center">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer hidden>
    <div class="card text-bg-dark">
      <div class="card-header"></div>
      <div class="card-body">
        <p class="card-text">
          <b>
            NodeJs:
          </b>
          <span id="node-version"></span>;
          <b>
            Chromium:
          </b>
          <span id="chrome-version"></span>;
          <b>
            Electron:
          </b>
          <span id="electron-version"></span>;
        </p>
      </div>
    </div>
  </footer>