<div *ngIf="visible == true" class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <button class="btn btn-success bg-gradient" type="button">Pokaż profil użytkownika {{ctxMenuUsername}}</button>
    <button class="btn btn-danger bg-gradient" type="button" value="delete" data-bs-toggle="modal"
        data-bs-target="#deleteFriendModal">Usuń znajomego</button>
    <div class="modal fade" id="deleteFriendModal" tabIndex="-1" aria-labelledby="Delete Friend Modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="title text-dark">Usuwanie użytkownika z listy znajomych</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-wrap">
                    <span class="text-dark">Usunąć użytkownika {{ctxMenuUsername}} z listy znajomych?</span>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group" aria-label="Button Group">
                        <button class="btn btn-danger" type="button" (click)="deleteFriend();" data-bs-dismiss="modal">
                            Usuń znajomego
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>