<div class="container text-bg-dark">
    <div class="row">
        <form>
            <div class="input-group">
                <span class="input-group-text">
                    <input type="text" placeholder="Login" aria-label="Login Field Addon"
                        aria-describedby="loginFieldAddon" [(ngModel)]="login">
                </span>
            </div>
            <div class="input-group">
                <span class="input-group-text">
                    <input type="password" placeholder="Password" aria-label="Password Field Addon"
                        aria-describedby="passwordFieldAddon" [(ngModel)]="password">
                </span>
            </div>
            <button type="button" class="btn btn-primary" (click)="signIn();">Sign in</button>
        </form>
    </div>
</div>