#inputMessageForm {
    width: 100%;
}

#inputMessage {
    width: 100%;
    height: auto;
    resize: none;
}

#mainRow {
    margin-right: 10%;
    margin-left: 10%;
}

#a {
    overflow-x: hidden;
    overflow-y: scroll;
}