<div *ngIf="activeUser != ''">
  <div *ngFor="let msg of messages;" class="row">
    <div class="col-2"></div>
    <app-message [sender_id]="msg.sender_id" [content]="msg.content" [timeSince]="msg.timeSince"></app-message>
  </div>

  <div class="row text-bg-dark">
    <div id="inputMessageForm" class="col input-group">
      <div class="form-floating">
        <textarea id="inputMessage" class="form-control" type="text" placeholder="Podaj treść wiadomości..."
          aria-label="Input Text Addon" aria-describedby="inputMessageAddon" [(ngModel)]="message" maxlength="106">
        {{message}}
      </textarea>
        <label for="inputMessage">
          {{SENT_MESSAGE_TO_STRING}} {{activeRecipient}}...
        </label>
      </div>
      <span id="inputMessageAddon" class="input-group-text">
        <div (click)="onSendButtonClick();">
          <button class="btn btn-success badge fs-6" type="button" value="Send">
            <img src="../../node_modules/bootstrap-icons/icons/send.svg">
          </button>
        </div>
        <div (click)="onUpdateButtonClick()">
          <button class="btn btn-success badge fs-6" type="button" value="Update">
            <img src="../../node_modules/bootstrap-icons/icons/arrow-clockwise.svg">
          </button>
        </div>
      </span>
    </div>
  </div>
</div>