<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="row modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-dark fs-5" id="LoginModalLabel">
                    Welcome back!11
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="input-group">
                        <span class="input-group-text">
                            <input type="text" placeholder="Login" aria-label="Login Field Addon"
                                aria-describedby="loginFieldAddon" [(ngModel)]="login">
                        </span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">
                            <input type="password" placeholder="Password" aria-label="Password Field Addon"
                                aria-describedby="passwordFieldAddon" [(ngModel)]="password">
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="signIn();">Sign
                    in</button>
            </div>
        </div>
    </div>
</div>