<div class="container text-bg-secondary" id=loginContainer>
    <div class="row">
        <h1 class="fs-5">
            {{WELCOME_BACK_STRING}}
        </h1>
    </div>
    <div class="row">
        <form class="needs-validation was-validated" novalidate>
            <div class="input-group justify-content-center">
                <span class="input-group-text">
                    <input class="form-control" type="text" placeholder="Login" aria-label="Login Field Addon"
                        aria-describedby="loginFieldAddon" [(ngModel)]="login" required>
                </span>
            </div>
            <div class="input-group justify-content-center">
                <span class="input-group-text">
                    <input class="form-control" type="password" placeholder="Hasło" aria-label="Password Field Addon"
                        aria-describedby="passwordFieldAddon" [(ngModel)]="password" required>
                </span>
            </div>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="signIn();">
                {{LOGIN_BTN_STRING}}
            </button>
        </form>
    </div>
    <div class="row justify-content-center">
        <span class="text-bg-light">
            {{DONT_HAVE_ACCOUNT}}?
            <a data-bs-dismiss="modal" routerLink="/register">{{CREATE_ACCOUNT}}.</a>
        </span>
    </div>
</div>