<div class="container text-bg-light bg-gradient rounded formContainer">
    <div *ngIf="errorTxt != ''" class="row alert alert-danger errorTxt" role="alert">
        {{errorTxt}}
    </div>
    <div class="row">
        <h5 class="title">
            {{WELCOME_BACK_STRING}}
        </h5>
    </div>
    <div class="row">
        <form class="needs-validation was-validated" novalidate>
            <div class="input-group justify-content-center">
                <span class="input-group-text">
                    <input class="form-control" type="text" placeholder="Login" aria-label="Login Field Addon"
                        aria-describedby="loginFieldAddon" [(ngModel)]="login" required>
                </span>
            </div>
            <div class="input-group justify-content-center">
                <span class="input-group-text">
                    <input class="form-control" type="password" placeholder="Hasło" aria-label="Password Field Addon"
                        aria-describedby="passwordFieldAddon" [(ngModel)]="password" (keydown.enter)="signIn()"
                        required>
                </span>
            </div>
            <button class="btn btn-success bg-gradient submitButton" type="button" (click)="signIn();">
                {{LOGIN_BTN_STRING}}
            </button>
        </form>
    </div>
    <div class="row justify-content-center">
        <span>
            {{DONT_HAVE_ACCOUNT_STRING}}?
            <a routerLink="/register">
                {{CREATE_ACCOUNT_STRING}}.
            </a>
        </span>
    </div>
    <div class="row justify-content-center">
        <span>
            <a routerLink="/password_recovery">
                {{FORGOT_PASSWORD_STRING}}?
            </a>
        </span>
    </div>
</div>