<div *ngIf="activeRecipient != undefined && activeRecipient != ''" class="input-group">
    <div *ngIf="errorTxt != ''" class="row alert alert-danger errorTxt" role="alert">
        {{errorTxt}}
    </div>
    <div class="form-floating">
        <textarea id="inputMessageField" class="form-control" type="text" placeholder="Podaj treść wiadomości..."
            aria-label="Input Text Addon" aria-describedby="inputMessageField" [(ngModel)]="msgTxt" maxlength="255">
      {{msgTxt}}
    </textarea>
        <label for="inputMessageField">
            {{SENT_MESSAGE_TO_STRING}} {{activeRecipient}}...
        </label>
    </div>
    <div class="btn-group" role="group" aria-label="Vertical button group">
        <button class="btn btn-success badge" type="button" value="Journal">
            <img src="../../node_modules/bootstrap-icons/icons/journal.svg" width="60" height="30" alt="Journal Icon">
        </button>
        <button class="btn btn-success badge" type="button" value="Emoji" data-bs-toggle="modal"
            data-bs-target="#emojiModal">
            <img src="../../node_modules/bootstrap-icons/icons/emoji-smile-fill.svg" width="60" height="30"
                alt="Emoji Smile Icon">
        </button>
        <div class="modal fade" id="emojiModal" tabIndex="-1" aria-labelledby="Emoji Modal">
            <div id="emojiModalDialog" class="modal-dialog">
                <div class="modal-content">
                    <div class="text-end">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-wrap">
                        <emoji-mart emoji="+1" set="twitter" [sheetSize]=32 [emojiSize]=32
                            (emojiClick)="addEmoji($event)"></emoji-mart>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-success badge" type="button" value="Send" (click)="onSendButtonClick();">
            <img src="../../node_modules/bootstrap-icons/icons/send.svg" width="60" height="30" alt="Send Icon">
        </button>
    </div>
</div>