<div *ngIf="isLeftAligned;else rightAligned">
  <nav class="navbar navbar-expand-lg navbar-dark bg-black bg-gradient">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="assets/logo.png" width="50" height="50" alt="KuroSora Logo">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navbar"
      aria-controls="Navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="Navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto gap-2">
        <li class="nav-item active">
          <button class="btn badge bg-success" (click)="onToggleAligmentButtonClick();">
            <h3>
              <i class="bi bi-chevron-compact-left"></i>
            </h3>
          </button>
        </li>
        <li class="nav-item active">
          <div *ngIf="activeUser != ''">
            <button class="btn badge bg-success" (click)="onHomeButtonClick();">
              <h3>
                <i class="bi bi-house-fill"></i>
              </h3>
            </button>
          </div>
        </li>
        <li class="nav-item active">
          <div *ngIf="activeUser != ''">
            <button class="btn badge bg-success" (click)="onNotificationButtonClick();">
              <h3>
                <i class="bi bi-bell-fill"></i>
              </h3>
            </button>
          </div>
        </li>
        <li class="nav-item active">
          <div *ngIf="activeUser != ''" class="badge text-wrap text-bg-success">
            <h6>
              <i class="bi bi-person-fill">
                {{activeUser}}
              </i>
            </h6>
          </div>
        </li>
        <li *ngIf="activeUser != '' && !isActiveUserAccountActivated" class="nav-item active">
          <button class="btn badge bg-success" (click)="onActivationButtonClick();">
            <h3>
              <i class="bi bi-check-circle-fill"></i>
            </h3>
          </button>
        </li>
        <li class="nav-item active">
          <button *ngIf="activeUser === '';else logoutBlock" class="btn badge bg-success"
            (click)="onLoginButtonClick();">
            <h3>
              <i class="bi bi-pen-fill"></i>
            </h3>
          </button>
          <ng-template #logoutBlock>
            <button class="btn badge bg-success" (click)="onSignOutButtonClick();">
              <h3>
                <i class="bi bi-box-arrow-right"></i>
              </h3>
            </button>
          </ng-template>
        </li>
        <li class="nav-item disabled">
        </li>
      </ul>
    </div>
  </nav>
</div>
<ng-template #rightAligned>
  <nav class="navbar navbar-expand-lg navbar-dark bg-black bg-gradient">
    <div id="Navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto gap-2">
        <li class="nav-item disabled">
        </li>
        <li class="nav-item active">
          <div *ngIf="activeUser != ''">
            <button class="btn badge bg-success" (click)="onHomeButtonClick();">
              <h3>
                <i class="bi bi-house-fill"></i>
              </h3>
            </button>
          </div>
        </li>
        <li class="nav-item active">
          <div *ngIf="activeUser != ''">
            <button class="btn badge bg-success" (click)="onNotificationButtonClick();">
              <h3>
                <i class="bi bi-bell-fill"></i>
              </h3>
            </button>
          </div>
        </li>
        <li class="nav-item active">
          <div *ngIf="activeUser != ''" class="badge text-wrap text-bg-success">
            <h6>
              <i class="bi bi-person-fill">
                {{activeUser}}
              </i>
            </h6>
          </div>
        </li>
        <li *ngIf="activeUser != '' && !isActiveUserAccountActivated" class="nav-item active">
          <button class="btn badge bg-success" (click)="onActivationButtonClick();">
            <h3>
              <i class="bi bi-check-circle-fill"></i>
            </h3>
          </button>
        </li>
        <li class="nav-item active">
          <button *ngIf="activeUser === '';else logoutBlock" class="btn badge bg-success"
            (click)="onLoginButtonClick();">
            <h3>
              <i class="bi bi-pen-fill"></i>
            </h3>
          </button>
          <ng-template #logoutBlock>
            <button class="btn badge bg-success" (click)="onSignOutButtonClick();">
              <h3>
                <i class="bi bi-box-arrow-right"></i>
              </h3>
            </button>
          </ng-template>
        </li>
        <li class="nav-item active">
          <button class="btn badge bg-success" (click)="onToggleAligmentButtonClick();">
            <h3>
              <i class="bi bi-chevron-compact-right"></i>
            </h3>
          </button>
        </li>
      </ul>
    </div>
    <div class="container-fluid" style="justify-content: right;">
      <a class="navbar-brand">
        <img src="assets/logo.png" width="50" height="50" alt="KuroSora Logo">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navbar"
      aria-controls="Navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</ng-template>