<div *ngIf="activeUser != ''" class="row list-group">
    <h6 class="bg-text-dark bg-gradient rounded">
        {{NOTIFICATIONS_STRING}}:
    </h6>
    <div *ngIf="notifications.length == 0">
        {{NO_NOTIFICATION_STRING}}
    </div>
    <div *ngFor="let notification of notifications;index as i;">
        <div class="btn-group" role="group" aria-label="Button Group">
            <div class="list-group-item list-group-item-warning rounded">
                <div *ngIf="notification.type === 'FRIEND_REQUEST'">
                    Zaproszenie do znajomych od użytkownika {{notification.from}}
                </div>
            </div>
            <button class="btn btn-success" type="button" (click)="onAcceptButtonClicked(i);">+</button>
            <button class="btn btn-danger" type="button" (click)="onDeclineButtonClicked(i);">-</button>
        </div>
    </div>
</div>