<div *ngIf="sender_id == activeUser;" class="row" id="firstRow">
    <div class="col-5 card text-bg-danger" @fade>
        <div class="card-header">
            <!--{{sender_id}}-->
        </div>
        <h6 class="card-title text-start">
            {{content}}
        </h6>
        <p class="card-text text-wrap text-start">
            {{timeSince}}
        </p>
    </div>
</div>
<div class="row" id="secondRow">
    <div class="col-7"></div>
    <div *ngIf="sender_id != activeUser" class="col-5 card text-bg-warning" @fade>
        <div class="card-header">
            <!--{{sender_id}}-->
        </div>
        <div class="card-title text-end">
            {{content}}
        </div>
        <p class="card-text text-wrap text-end">
            {{timeSince}}
        </p>
    </div>
</div>