<div *ngIf="sender == activeUser;" class="row firstRow">
    <div class="col-4 card text-wrap messageReceived">
        <h6 class="card-title text-start">
            {{content}}
        </h6>
        <div *ngIf="olderThan8Hours === true;else elseBlock">
            <p class="card-text text-start">
                {{timeSince}}
            </p>
        </div>
        <ng-template #elseBlock>
            <p class="card-text text-start" @fade>
                {{timeSince}}
            </p>
        </ng-template>

    </div>
    <div class="col-6"></div>
</div>
<div class="row secondRow">
    <div class="col-6"></div>
    <div *ngIf="sender != activeUser" class="col-4 card text-wrap messageSent">
        <div class="card-title text-end">
            {{content}}
        </div>
        <div *ngIf="olderThan8Hours === true;else elseBlock">
            <p class="card-text text-start">
                {{timeSince}}
            </p>
        </div>
        <ng-template #elseBlock>
            <p class="card-text text-start" @fade>
                {{timeSince}}
            </p>
        </ng-template>
    </div>
</div>