<div class="container-fluid text-bg-secondary" id="registerContainer">
    <div class="row">
        <h1 class="fs-5">
            {{CREATE_USER_STRING}}
        </h1>
    </div>
    <div class="row">
        <form class="needs-validation was-validated" novalidate>
            <div class="input-group justify-content-center">
                <span class="input-group-text justify-content-center">
                    <input class="form-control" type="text" placeholder="Login" aria-label="Login Field Addon"
                        aria-describedby="loginFieldAddon" [(ngModel)]="login" required>
                </span>
            </div>
            <div class="input-group justify-content-center">
                <span class="input-group-text">
                    <input class="form-control" type="password" placeholder=PASSWORD_PLACEHOLDER_STRING aria-label="Password Field Addon"
                        aria-describedby="passwordFieldAddon" [(ngModel)]="password" required>
                </span>
            </div>
            <div class="input-group justify-content-center">
                <span class="input-group-text">
                    <input class="form-control" type="text" placeholder="Nazwa użytkownika"
                        aria-label="Username Field Addon" aria-describedby="usernameFieldAddon" [(ngModel)]="username"
                        required>
                </span>
            </div>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="signUp();">
                {{REGISTER_BTN_STRING}}
            </button>
        </form>
    </div>
    <div class="row text-bg-light">
        <span>
            {{ALREADY_HAVE_ACCOUNT_STRING}}?
            <a data-bs-dismiss="modal" routerLink="/login">{{LOGIN_STRING}}.</a>
        </span>
    </div>
</div>