#registerContainer {
    margin-top: 5%;
    width: fit-content;
    height: 90%;
}

#signUpButton {
    margin-top: 5%;
    margin-bottom: 5%;
}

.title {
    margin-top: 5%;
    margin-bottom: 5%;
}