<div class="modal fade" id="RegisterModal" tabindex="-1" aria-labelledby="RegisterModalLabel" aria-hidden="true">
    <div class="row modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-dark fs-5" id="RegisterModalLabel">
                    Stwórz konto
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation was-validated" novalidate>
                    <div class="input-group">
                        <span class="input-group-text">
                            <input class="form-control" type="text" placeholder="Login" aria-label="Login Field Addon"
                                aria-describedby="loginFieldAddon" [(ngModel)]="login" required>
                        </span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">
                            <input class="form-control" type="password" placeholder="Hasło"
                                aria-label="Password Field Addon" aria-describedby="passwordFieldAddon"
                                [(ngModel)]="password" required>
                        </span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">
                            <input class="form-control" type="text" placeholder="Nazwa użytkownika"
                                aria-label="Username Field Addon" aria-describedby="usernameFieldAddon"
                                [(ngModel)]="username" required>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="signUp();">
                    Zarejestruj się
                </button>
            </div>
        </div>
    </div>
</div>